@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SA Online Mart</h1>
    <p>South Africa's premier shopping platform for items crafted by local artisans.</p>
</div>

